@define-mixin effect $name,
  $backgroundColor,
  $backgroundColorAlpha,
  $backgroundColorTransparent,
  $backgroundAccentColor {
  &.--$(name) {
    background-color: $backgroundColor;
    background-image: radial-gradient(
      ellipse at center,
      $backgroundAccentColor 0%,
      $backgroundColorTransparent 60%,
      $backgroundColor 100%
    );
  }

  &.--$(name) > &__effect {
    background-image: radial-gradient(
      ellipse at center,
      $backgroundColorTransparent 0%,
      $backgroundAccentColor 7%,
      $backgroundAccentColor 30%,
      $backgroundColorTransparent 60%,
      $backgroundColorAlpha 100%
    );
  }
}
