@import './mixin.css';

:root {
  /* ***** react-dribble-button ***** */

  --react-dribble-button--height: 50px;
  --react-dribble-button--font-size: 16px;
  --react-dribble-button--box-shadow: rgba(0, 0, 0, 0.3) 0 8px 8px 0;
  --react-dribble-button--border-radius: 4px;

  --react-dribble-button--default-color-text: #fff;
}

.react-dribble-button {
  position: relative;
  z-index: 0;

  display: inline-block;

  width: 100%;
  height: var(--react-dribble-button--height);

  box-sizing: border-box;

  border: none;
  border-radius: var(--react-dribble-button--border-radius);

  font-size: var(--react-dribble-button--font-size);

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  letter-spacing: 1.5px;
  cursor: pointer;
  overflow: hidden;

  color: var(--react-dribble-button--default-color-text);
  background-size: 200% 200%;

  transform: translateZ(0);

  transition: box-shadow 0.3s ease, background-position 0.3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: var(--react-dribble-button--box-shadow);
    background-position: 100% 100%;
  }

  &__effect {
    display: block;
    position: absolute;

    border-radius: 100%;

    z-index: -1;
    animation: ripple 0.65s linear both;
  }

  @mixin effect default, #0277bd, #0277bd4d, #0277bd00, #03a9f4;
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(3);
  }
}
